* {
  font-family: "inter", system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 3px solid #eaeaea;

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.card {
  border: 3px solid #eaeaea;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  .button {
    box-sizing: border-box;

    background: #ffffff;
    border: 3px solid #eaeaea;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-size: 13px;
    opacity: 0.75;
    text-transform: uppercase;
  }

  b {
    font-size: 13px;
  }
}

.search-block {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 0 15px;
}

input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
  }
  .items {
    flex: 1;
    overflow: auto;
  }
  button {
    
    width: 100%;
    height: 55px;
    left: 895px;
    top: 974px;
    border: none;
    background: #9dd558;
    border-radius: 18px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #ffffff;
    cursor: pointer;
    margin-top: 24px;
    transition: background 0.3s ease-in-out;

    &:hover{
      background: lighten($color: #9dd558, $amount: 10);
      img{
        transform: translateX(10px);
      }
    }
    &:active{
      background: darken($color: #9dd558, $amount: 20);
    }
    
    img{
      position: absolute;
      margin: 2px 0 0 70px;
      transition: transform 0.3s ease-in-out;
    }
    
  }
}

.cartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
}

.cartItem {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
}

.removeBtn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
